html {
    background: url("/img/image.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: scroll;
}

body {
    font: 62.5%/1.5 sans-serif;
    color: #FFFFFF;
    text-align:center;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: -1px 1px 2px #000,
    1px 1px 2px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

a:hover{
    color: darkcyan;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}

span {
    color: red;
    font-weight: bold;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-collapse: collapse;
    align-self: center;
}

td {
    text-align: center;
    font-weight: normal;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fontsizesmall {
    font-size: small;
}

.margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hdhack {
    max-width: 25%;
    height: auto;
}

.italic {
    font-style: italic;
}




